@import "tailwindcss";
@plugin "daisyui";

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    min-height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
  }

  body {
    background: #3f3f46;
  }
}
